* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    width: 2px;
    background: #00B4DB;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    min-height: 100vh;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    scroll-behavior: smooth;
}

.section-title {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 400px;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid white;
}


/* Header styling */
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: white;
    z-index: 999;
}

.header .left {
    display: grid;
    place-items: center;
    margin-inline: 80px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    font-family: cursive;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.header .right {
    display: flex;
    width: 60%;
    color: black;
    margin-inline: 20px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;
    font-size: 18px;
}

.links a {
    position: relative;
    padding-inline: 10px;
    user-select: none;
}

.links a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid black;
    transition: all 0.3s ease;
    z-index: 99;
}

.links a:hover::after {
    width: 100%;
}

.appointment-btn {
    width: 120px;
    padding: 5px 15px;
    background: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 16px;
}

/* Welcome section */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    height: 100vh;
}

#welcome p {
    font-family: sans-serif;
    font-size: 20px;
    text-indent: 40px;
    text-align: center;
}

/* About section */
#about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline: 60px;
}

/* Services section */
#services {
    background: crimson;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline: 60px;
}

/* FAQ section */
#faq {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline: 60px;
}