* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    min-height: 100vh;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    width: 2px;
    background: #00B4DB;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}


/* Header styling */
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: white;
}

.header .left {
    display: grid;
    place-items: center;
    margin-inline: 40px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    font-family: cursive;
    font-weight: 700;
}

.header .right {
    display: flex;
    width: 60%;
    color: black;
    margin-inline: 20px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;
    font-size: 18px;
}

.appointment-btn {
    width: 120px;
    padding: 5px 15px;
    background: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 16px;
}

/* Welcome section */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    height: 100vh;
}

h1 {
    width: 100vw;
    padding-inline: 80px;
    text-align: left;
}

#welcome p {
    font-family: sans-serif;
    font-size: 20px;
    text-indent: 40px;
    padding-inline: 40px;
}

/* About section */
#about {
    width: 400px;
    height: 100vh;
    background: white;
}