.section-title {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 400px;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid white;
}


/* Header styling */
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: white;
    z-index: 999;
}

.header .left {
    display: grid;
    place-items: center;
    margin-inline: 80px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    font-family: cursive;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.header .right {
    display: flex;
    width: 60%;
    max-width: 500px;
    color: black;
    margin-inline: 20px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;
    font-size: 18px;
}

.links a {
    position: relative;
    padding-inline: 10px;
    user-select: none;
}

.links a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    border-bottom: 2px solid black;
    transition: all 0.3s ease;
    z-index: 99;
}

.links a:hover::after {
    width: 100%;
}

.reserve-btn {
    width: 120px;
    padding: 5px 15px;
    background: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 16px;
    transition: all 0.3s ease;
}

.reserve-btn:hover {
    border: 2px solid black;
    background: transparent;
    color: black;
}

/* Welcome section */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    height: 100vh;
}

#welcome p {
    font-family: sans-serif;
    font-size: 20px;
    text-indent: 40px;
    text-align: center;
}

/* About section */
#about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline: 60px;
    padding-top: 200px;
}

#about .section-title {
    top: 150px;
}

#about p {
    font-size: 16px;
    text-indent: 20px;
    padding: 10px 20px;
    width: 1000px;
}

#about p img {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-top: -30px;
    margin-right: 20px;
    shape-outside: circle(50%);
}

/* Services section */
#services {
    background: crimson;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline: 60px;
}

#services .services-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
}

#services .services-wrapper .service {
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    margin: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#services .services-wrapper .service:hover {
    transform: scale(1.2);
}

/* FAQ section */
#faq {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline: 60px;
}

#faq .section-title {
    border-bottom: 2px solid black;
}

#faq .faq-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 250px;
}

#faq .faq-wrapper .question {
    overflow: hidden;
    width: 80%;
    height: 130px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#faq .faq-wrapper .question.hidden {
    height: 60px;
}

#faq .faq-wrapper .question .answer {
    color: blue;
    margin-top: 20px;
    font-family: cursive;
}
